################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/Debug
/VirusInit/Debug
/InjectDemo/Debug
/InjectDemo/x64/Debug
/TestDll/Debug
/TestDll/x64
/VirusInit/x64
/x64
/RunProc/x64
/ServiceLoader/x64
/RunProc/Debug
/SelfStartUp/Debug
/PrivilegeEscalating/Debug
/FakeOrHide/Debug
/HackTechLearning/Debug
/FakeOrHide_HOOKDLL/Debug
/ZIPTech/Debug
/EncrypTech/Debug
/EncrypTech/crypt/lib
/NetLinking/Debug
/NetServer/Debug
/CommonTech/Debug
/DriverTech/Debug
